# 表示这是顶级配置文件，EditorConfig 不会再向上查找
root = true

[*] # 应用于所有文件
end_of_line = crlf # 设置行分隔符为 LF
insert_final_newline = true # 在文件末尾插入一个空行 (好习惯)
trim_trailing_whitespace = true # 移除行尾多余的空格 (好习惯)
charset = utf-8 # 推荐统一字符集

[*.{md,bat,cmd}] # 对于 Markdown 和 Windows 批处理文件，可以特殊处理
end_of_line = crlf # 如果确实需要在某些文件类型中保留 CRLF